<h1><%= title %></h1>
<p>About us</p>

 <form method="post" action="userNameForm">
     <input type="text" name="user[first]" />
     <input type="text" name="user[last]" />
     <input type="submit" value="Submit" />
 </form>
 </ br>
 <a href="/members">members page</a>
 
