<body>
            
    <header>
        <h1>File Upload</h1>
    </header>
            
    <div id="dropbox">
        <span class="message">Drop images here to upload. <br /><i>(they will only be visible to you)</i></span>
    </div>
            
    <footer>
        <h2>File Upload</h2>
    </footer>
    
            
    <!-- Including the HTML5 Uploader plugin -->
    <script src="javascripts/jquery.filedrop.js"></script>
            
    <!-- The main script file -->
    <script src="javascripts/script.js"></script>

</body>