<body>

    <div id="box" style="background:#98bf21;height:100px;width:100px;margin:6px;">
    </div>
    <button id="btn1">Animate</button>
    <button id="btn2">Reset</button>
    <p></p>
    
    <br />
    <br />
    
    <div id="dropzone" height="400px" width="300px" border="solid" border-color="blue>
        <span id="message">Drop images here to upload</span>
    </div>
    <span id="status"></span>
    <div id="prev"></div>
    <script type="text/javascript" src="javascripts/animate.js"></script>
    <script type="text/javascript" src="javascripts/jquery.filedrop.js"></script>
    <script type="text/javascript" src="javascripts/fileDrop.js"></script>
</body>
