<div class="main_box">
    <div>
    	<img src="/images/Sun_Logo.png" alt="fileShare logo" onclick="document.location.href='/'"/>
    </div>
	    <div id="menu">
	    	<p>Welcome to fileshare, drag and drop you're files into the dropbox to upload</p>
	    	<br>
	    	<p>To access the files uploaded during this session, navigate to: </p>
	    	<p class="addId">hostdomain/get/</p>
		</div>    
    <div id="dropbox">
            <span class="message">Drop images here to upload</span>
    </div>
</div>

<div class="spacer">
</div>
            
<!-- HTML5 Uploader plugin -->
<script type="text/javascript" src="javascripts/jquery.filedrop.js"></script>
            
<script type="text/javascript" src="javascripts/script.js"></script>

